/* Outer Container CSS */

body{
  margin: 0px;
  background: #000000;
}

.parent{
  height: 100%;
}

h3 {
  color: white;
}

/* NavBar CSS */

.navbar {
  background: #000000;
  color: #ffffff;
  height: 80px;

  text-align: center;
  padding-top: 20px;
}

.header{
  font-size: 40px;
  font-family: serif;
}

/* Main Container CSS */

.maincontainer{
  background: #222222;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
}

/* Book Card CSS */
.bookcard{
  margin: 10px;
  height: 340px;
  width: 200px;
  padding: 10px;

  background: #161616;
}

.bookcard img{
  height: 80%;
  width: 100%;
}

.booktitle{
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}
