<form action="/books/create" method="post">

  Title: <input type="text" name="title" value="" /> <br>
  Author: <input type="text" name="author" value="" /> <br>
  Snippet: <input type="text" name="snippet" value="" /> <br>
  <br><br>
  <input type="submit" value="Submit">
</form>
